h1{
    background-color: aqua;
}
@media(width:400px){
    h1{
        background-color: yellowgreen;
    }
}
div{
    background-color: blueviolet;
    height:200px;
    width:500px;
}
@media(width:300px){
    div{
        background-color: azure;
    }
}
